<%- include('../partials/header.ejs')%>
<div class="background">
    <table class="table">
        <form action="/user/new" method="post" >
              <caption><h1>Register Account</h1></caption>  
            <tr>
                <td><input type="text" id="email" name="email" size="50" cols="2" placeholder="UNCC Email"></td>
            </tr>
            <tr>
                <td><input type="text" id="name" name="name" size="50" cols="2" placeholder="Full Name"></td>
            </tr>
            <tr>
                <td><label for="year">School Year</label><select class="floatRight"name="year" id="year" >
                    <option value="Freshman">Freshman</option>
                    <option value="Sophmore">Sophmore</option>
                    <option value="Junior">Junior</option>
                    <option value="Senior">Senior</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="password" name="password" id="password" size="50" placeholder="Enter your password"></td>
            </tr>
            <tr><td><button class="button">Register</button></td></tr>
        </form>
            
    </table>
    
</div>
<%- include('../partials/footer.ejs')%>

<style>
    .floatRight{
        float: right;
    }
    .table {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        justify-content: center;
        background-color: white;
    }
    .background{
        background-color: #2ea44f;
        padding: 10%;
        padding-left: 15%;
        padding-right: 15%;
    }
    td{
        padding: 10px;
    }
    h1{
        padding-right: 75%;
    }
    .button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #2c974b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
</style>
